---
layout: default
---

<article style="display:flex; justify-content: space-between">
<div style="padding-left: 10%, margin: auto">
  <div id="note-header">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
      {% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-content" style="width: 90%">
    <content>{{ content }}</content>
  </div>
</div>

  <aside id="note-sidebar" style="font-size: 0.9em; padding-left: 10%">
    <div>
      <h3 style="margin-bottom: 1em; margin-left: 0.5em">On this page</h3>
      <div class="toc__content text-main">
        {% include toc.html html=content class='menu-list' %}
      </div>
    </div>

    <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
    {% if page.backlinks.size > 0 %}
    <ul class="backlink-box" style="list-style: none">
    {% for backlink in page.backlinks %}
    <li style="margin-bottom: 1em"><a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">
        {{ backlink.title }}
    </a></li>
      {{ strip_html | truncatewords: 20 }}
    {% endfor %}
    </ul>
    {% else %}
    <p>There are no notes linking to this note.</p>
    {% endif %}
  </aside>
</article>

<footer>
  <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
  {% include notes_graph.html %}
</footer>
